<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700182155524-r1kqj83lth77dtpuv40kibb9bb0tultf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700182155524-r1kqj83lth77dtpuv40kibb9bb0tultf</string>
	<key>API_KEY</key>
	<string>AIzaSyCib3gAOqTEE1aqhxtLV4lhPvD7LWbjPWI</string>
	<key>GCM_SENDER_ID</key>
	<string>700182155524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teenmotivation</string>
	<key>PROJECT_ID</key>
	<string>teen-motivation-1d0be</string>
	<key>STORAGE_BUCKET</key>
	<string>teen-motivation-1d0be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700182155524:ios:b068ebbcc84692065c0051</string>
</dict>
</plist>